:root{
    --menu-max-width: 270px;
    --menu-min-width: 85px;
}

body{
    overflow-y: hidden;
}

.burger-menu{
    position: relative;
    max-width: var(--menu-max-width);
    background-color: #2A2235;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation-duration: 0.3s;
}

/* Шапка меню - Лого*/
.burger-menu__header{
    padding-top: 30px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.burger-menu__header a{
    position: relative;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    color: #55529C;
    width: auto;
}

#hidden_menu_logo{
    display: none;
    color: #FFF;
}

.burger-menu__header img{
    height: 130px;    
}

.burger-menu__header .btn-burger{
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 10;
    cursor: pointer;
}

.burger-menu__header .btn-burger::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #A8A8BA;
    transform: rotate(-45deg);
}

.burger-menu__header .btn-burger::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #A8A8BA;
    transform: rotate(45deg);
}


.burger-menu__header .btn-burger:hover::before,
.burger-menu__header .btn-burger:hover::after{
    background-color: #9A88B3;
}

/* Пункты меню */
.burger-menu__nav{
    margin-top: 30px;
}

.burger-menu__nav .burger-menu__navlist{
    list-style: none;    
}

.burger-menu__logoutbtn,
.burger-menu__nav .burger-menu__navlist>li{
    position: relative;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.burger-menu__logoutbtn::before,
.burger-menu__nav .burger-menu__navlist>li::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #fff;
    visibility: hidden;
    border-radius: 5px;
}


.burger-menu__navlist>li.burger-menu__navitem__active::before{
    visibility: visible;
}

.burger-menu__navlist>li.burger-menu__navitem__active>a>span{
    color: #FFF;
}

.burger-menu__logoutbtn button:hover>span,
.burger-menu__nav .burger-menu__navlist>li:hover,
.burger-menu__nav .burger-menu__navlist>li:hover>a{
    color: #b292df;
}

.burger-menu__logoutbtn button,
.burger-menu__nav .burger-menu__navlist>li>a{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0;
    color: #A8A8BA;
    font-size: 18px;
    align-items: center;
    padding-left: 24px;
    font-weight: bold;
}

.burger-menu__logoutbtn img,
.burger-menu__nav .burger-menu__navlist>li>a>img{
    max-width: 36px;
    max-height: 36px;
    margin-right: 25px;
}

.burger-menu__logoutbtn button{
    position: relative;
    outline: none;
    border: none;
    background-color: #2A2235;
    cursor: pointer;
}

.burger-menu__logoutbtn{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.burger-menu__logoutbtn>span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #5C5C74;
}

.burger-menu.hidden{
    max-width: 85px;
    
}

.burger-menu.hidden .burger-menu__header img {
    height: 66px;    
}

.burger-menu.hidden .burger-menu__header{
    padding-top: 70px;
}

.burger-menu.hidden .btn-burger{
    position: absolute;
    display: flex;
    align-self: center;
    height: 52px;
    top: 10px;
    left: 48%;
}

.burger-menu.hidden .btn-burger::after{
    content: "";
    position: absolute;
    bottom: 5px;
    width: 4px;
    height: 30px;
    background-color: #A8A8BA;
    transform: rotate(90deg);
}

.burger-menu.hidden .btn-burger::before{
    content: "";
    position: absolute;
    top: 8px;
    width: 4px;
    height: 30px;
    background-color: #A8A8BA;
    transform: rotate(90deg);
}

.burger-menu.hidden .btn-burger > span{
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #A8A8BA;
    transform: rotate(90deg);
}

.burger-menu.hidden .btn-burger:hover > *,
.burger-menu.hidden .btn-burger:hover::after,
.burger-menu.hidden .btn-burger:hover::before{
    background-color: #9A88B3;
}

/* Tooltip for menu list */
.burger-menu__logoutbtn .menu_tooltiptext, 
.burger-menu .menu_tooltiptext{
    visibility: hidden;
    position: absolute;
    width: 120px;
    height: 35px;
    line-height: 35px;
    background-color: #5C5C74;
    color: #fff;
    text-align: center;
    top: 10%;
    left: calc(var(--menu-min-width) - 25%);
    padding: 5px 0;
    border-radius: 6px;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.burger-menu.hidden .burger-menu__logoutbtn button>span,
.burger-menu.hidden li>a>span{
    visibility: hidden;
}

.burger-menu__logoutbtn .menu_tooltiptext::after,
.burger-menu .menu_tooltiptext::after{
    content: "";
    position: absolute;
    top: 33%;
    left: 0;
    transform: rotate(90deg);
    margin-left: -17px;
    border-width: 9px;
    border-style: solid;
    border-color: #5C5C74 transparent transparent transparent;
}

.burger-menu.hidden .burger-menu__logoutbtn:hover .menu_tooltiptext,
.burger-menu.hidden li:hover .menu_tooltiptext{
    visibility: visible;
    opacity: 1;
}

/* ---------------- Адаптив для нетбуков (<= 1024px) ---------------- */
@media (max-width: 1024px) {

    .burger-menu{
        --menu-max-width: 220px;
        max-width: var(--menu-max-width);
    }

    .burger-menu.hidden{
        --menu-min-width: 75px;
        max-width: var(--menu-min-width);
    }

    .burger-menu__header img{
        height: 120px;    
    }

    .burger-menu__header .btn-burger{
        width: 25px;
        height: 25px;
    }

    .burger-menu__logoutbtn img,
    .burger-menu__nav .burger-menu__navlist>li>a>img{
        max-width: 32px;
        max-height: 32px;
    }

    .burger-menu__logoutbtn,
    .burger-menu__nav .burger-menu__navlist>li{
        height: 55px;
        line-height: 55px;
    }

    .burger-menu__logoutbtn button,
    .burger-menu__nav .burger-menu__navlist>li>a{
        padding-left: 20px;
        font-size: 16px;
    }

    .burger-menu.hidden .btn-burger{
        
        height: 47px;
    }
    
    .burger-menu.hidden .btn-burger::before,
    .burger-menu.hidden .btn-burger::after,
    .burger-menu.hidden .btn-burger > span{
        width: 3px;
        height: 26px;
    }
   

}

/* ---------------- Адаптив для планшетов (<= 768px) ---------------- */
@media (max-width: 768px){
    /* По идее на планшетах меню по умл. в свернутом варианте. А при
    выборе какого-либо пункта - сразу закрывается меню. Поэтому особо ничего 
    менять не будем. Кроме размеров иконок и шрифта.        
    */

    .burger-menu{
        --menu-max-width: 200px;
        max-width: var(--menu-max-width);
    }

    .burger-menu.hidden{
        --menu-min-width: 65px;
        max-width: var(--menu-min-width);
    }

    .burger-menu.hidden #logo{
        height: 50px;    
    }

    #logo{
        height: 75px;
    }

    .burger-menu__header .btn-burger{
        width: 18px;
        height: 18px;
    }

    .burger-menu__logoutbtn img,
    .burger-menu__nav .burger-menu__navlist>li>a>img{
        max-width: 24px;
        max-height: 24px;
    }

    .burger-menu__logoutbtn,
    .burger-menu__nav .burger-menu__navlist>li{
        height: 50px;
        line-height: 50px;
    }

    .burger-menu__logoutbtn button,
    .burger-menu__nav .burger-menu__navlist>li>a{
        font-size: 14px;
    }

    .burger-menu__logoutbtn .menu_tooltiptext, 
    .burger-menu .menu_tooltiptext{
        height: 28px;
        line-height: 28px;
        top: 12%;
    }

    .burger-menu__logoutbtn .menu_tooltiptext::after,
    .burger-menu .menu_tooltiptext::after{
        top: 30%;
        margin-left: -15px;
        border-width: 8px;
        border-style: solid;
        border-color: #7868E6 transparent transparent transparent;
    }

}

/* ---------------- Адаптив для смартфонов (от 320px до 768px) ---------------- */
@media (max-width: 460px){
    /* Делаем шторку и прижимаем к верхней части. На шторке будет название и бургер.
    При нажатии на бургер будет опускаться шторка на всю ширину экрана. Структура меняется:
    кнопка закрытия шторки опускается в саммый низ, а кнопка (выйти) прижимается ко всем
    остальным пунктам
    */

    /* Подсказки всплывающие не нужны */
    .menu_tooltiptext{
        display: none;
    }

    /* Меню */
    .burger-menu{
        position: fixed;
        top: 0;
        width: 100vw;
    }

    /* Меню в открытом состоянии */
    .burger-menu.opened.burger-menu{
        --menu-max-width: 100vw;
        max-width: var(--menu-max-width);
    }

    /* Меню в свернутом состоянии */
    .burger-menu.hidden.burger-menu{
        --menu-max-width: 100vw;
        max-width: var(--menu-max-width);
        height: 45px;
        overflow: hidden;
       
    }

    .burger-menu.hidden .burger-menu__logoutbtn,
    .burger-menu.hidden .burger-menu__nav{
        display: none;
    }

    .burger-menu.hidden .burger-menu__header{
        padding-top: 0;
    }

    .burger-menu.hidden .burger-menu__header #hidden_menu_logo{
        display: block;
        line-height: 45px;
        font-weight: bold;
        color:#FFF;
        font-size: 22px;
    }

    .burger-menu.hidden .burger-menu__header a {
        display: none;
    }

    .burger-menu.hidden .btn-burger{
        left: auto;
        right: 3%;
        top: 2px;
        align-self: center;
    }

    /* ------------------------------------------- */
    .burger-menu.opened.burger-menu .btn-burger{
        right: 4%;
    }
}

@keyframes anim-burger-close {
    0%{
        max-width: var(--menu-max-width);
    }

    100%{
        max-width: var(--menu-min-width);
    }
}

@keyframes anim-burger-open {
    0%{
        max-width: var(--menu-min-width);
    }

    100%{
        max-width: var(--menu-max-width);
    }
}

@keyframes anim-burger-mob-open {
    0%{
        height: 45px;
    }

    100%{
        height: 100vh;
    }
}

@keyframes anim-burger-mob-close {
    0%{
        height: 100vh;
    }

    100%{
        height: 45px;
    }
}