.burger-menu{
    position: relative;
    max-width: 270px;
    background-color: #B8B5FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

/* Шапка меню - Лого*/
.burger-menu__header{
    padding-top: 30px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.burger-menu__header a{
    position: relative;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    color: #55529C;
    width: auto;
}

.burger-menu__header img{
    height: 130px;    
}

.burger-menu__header .btn-burger{
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 10;
    cursor: pointer;
}

.burger-menu__header .btn-burger::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.burger-menu__header .btn-burger::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 25px;
    background-color: #fff;
    transform: rotate(45deg);
}

.burger-menu__header .btn-burger:hover::before,
.burger-menu__header .btn-burger:hover::after{
    background-color: #55529C;
}

/* Пункты меню */
.burger-menu__nav{
    margin-top: 30px;
}

.burger-menu__nav .burger-menu__navlist{
    list-style: none;    
}

.burger-menu__logoutbtn,
.burger-menu__nav .burger-menu__navlist>li{
    position: relative;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.burger-menu__logoutbtn button:hover,
.burger-menu__navitem__active,
.burger-menu__nav .burger-menu__navlist>li:hover{
    background-color: #7868E6;
}

.burger-menu__logoutbtn button,
.burger-menu__nav .burger-menu__navlist>li>a{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0;
    color: #fff;
    font-size: 18px;
    align-items: center;
    padding-left: 24px;
    font-weight: bold;
}

.burger-menu__logoutbtn img,
.burger-menu__nav .burger-menu__navlist>li>a>img{
    max-width: 36px;
    max-height: 36px;
    margin-right: 25px;
}

.burger-menu__logoutbtn button{
    position: relative;
    outline: none;
    border: none;
    background-color: #B8B5FF;
    cursor: pointer;
}

.burger-menu__logoutbtn{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.burger-menu__logoutbtn>span{
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
}