/* Стили для страниц авторизации и регистрации */
@font-face {
    font-family: 'EngFont';
    src: url('../fonts/englishFont.ttf');
    
    font-style: normal;
    font-weight: normal;
}

body{
    margin: 0;
    padding: 0;
}
.content{
    display: block;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
.block__form__signup{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 5%;
    border: #333c solid 2px;
    min-width: 295px;
    width: 380px;
    max-width: 100%;
    height: 400px;
    background-color: whitesmoke;
}
.title__form__signup{
    text-align: center;
    color: #333c;
    padding: 3px 0;
    max-width: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.form{
    margin-top: 30px;
    display: block;
}
.form input[type='email'],
.form input[type='password'],
.form input[type='text']{
    width: 100%;
    height: 30px;
    line-height: 30;
    padding: 5px 0 5px 45px;
    outline: none;
    font-size: 14px;
    border: none;
    border-radius: 60px;
    color: #333c;
    font-weight: bold;
}
.fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 3;
    justify-items: center;
}
.fieldsInp{
    grid-column-start: 1;
    grid-column-end: 4;
}
.field__email,
.field__login, 
.field__password{
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 80%;
}
.field__email span,
.field__password span,
.field__login span{
    position: absolute;
    display: flex;
    left: 15px;
    margin-top: 8px;
}
.checkbox__notRobot,
.field_checkbox_remember{
    position: relative;
    display: inline-flex;
    height: 25px;
    width: 80%;
    margin-top: 10px;
    margin-left: 42px;
}
.field_checkbox_remember,
.checkbox__notRobot label{
    margin-left: 25px;
}
.field_checkbox_remember,
.checkbox__notRobot input{
    position: absolute;
    border: none;
    background: #333333;
    outline: none;
    left: 0;
}
.field_checkbox_remember,
.checkbox__notRobot input::before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -4px;
}
.btnSignUpSubmitDiv{
    display: block;
}
.btnSignUpSubmit{
    display: block;
    margin: 0px auto;
    cursor: pointer;
    text-transform: uppercase;
    width: 180px;
    height: 35px;
    border-radius: 25px;
    background-color: #95caf9;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 10px;
}
.btnSwapToLogInForm button{
    display: block;
    margin: 0 auto;
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 5px;
    text-transform: uppercase;
    color: #333333;
    outline: none;
}
/* Стили для авторизации */

.block__form__log{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 5%;
    border: #333c solid 2px;
    min-width: 295px;
    width: 380px;
    max-width: 100%;
    height: 400px;
    background-color: whitesmoke;
}
.title_form{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #333c;
    padding: 3px 0;
    max-width: 100%;
}
.btnLog{
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 3px;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    border-radius: 25px;
    background-color: #95caf9;
    color: #fff;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.orSpan::before{
    content: "";
    position: absolute;
    margin-top: 10px;
    display: inline-block;
    border-bottom: 2px solid #333333;
    height: 5px;
    width: 50px;
}
